<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#2196F3">
    <title>ICMA</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <style>
        .card .card-action a {
            color: #009828;
        }

        img.imga {
            border: 0;
            width: 5%;
            top: -50px;
        }
    </style>
</head>

<body>
    <nav class="green" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/administradores" class="brand-logo">ICMA Admin</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/administradores">Noticia</a></li>
                <li class="active"><a href="/api/Getproductos">Productos</a></li>
                <li><a href="/api/proyecto">Proyectos</a></li>
                <li><a id="salir">Salir</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/administradores">Noticia</a></li>
                <li><a href="/api/Getproductos">Productos</a></li>
                <li class="active"><a href="/api/proyecto">Proyectos</a></li>
                <li><a id="salir">Salir</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class=" red-text lighten-1">Error: no puedes dejar campos de blanco</h4>
            <p>Debes de llenar todos los campos</p> 
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
    </div>








    <div class="container">
        <h3>Actualizar Producto=)
        </h3>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card white">
                    <div class="card-content black-text">
                        <form id="addProductForm" enctype="multipart/form-data" method="post">
                            <input id="titulo" name="Nombre" value="{{Producto.Nombre}}" class="card-title black-text">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea name="Descripcion" id="contenido" class="materialize-textarea">{{Producto.Descripcion}}</textarea>
                                    <label for="contenido"></label>
                                </div>
                            </div>

                            <input id="_id" type="text" name="_id" value="{{Producto._id}}" readonly="readonly">
                            <div id="imagenesIndex">
                                <input class="imgPapu" type="text" name="Url_imagen_1" value="{{Producto.Url_imagen_1}}" readonly="readonly">
                                <input class="imgPapu" type="text" name="Url_imagen_2" value="{{Producto.Url_imagen_2}}" readonly="readonly">
                                <input class="imgPapu" type="text" name="Url_imagen_3" value="{{Producto.Url_imagen_3}}" readonly="readonly">
                                <input class="imgPapu" type="text" name="Url_imagen_4" value="{{Producto.Url_imagen_4}}" readonly="readonly">
                                <input class="imgPapu" type="text" name="Url_imagen_5" value="{{Producto.Url_imagen_5}}" readonly="readonly">

                            </div>


                            <input class="imgPapu" type="checkbox" value="X" id="test5" /><label for="test5">Cambiar imagenes</label>

                            <div class="inner">

                            </div>

                            <input type="checkbox" value="X" id="test6" /><label for="test6">Cambiar videos</label>
                            <div class="inner2">

                            </div>

                            {{#if sin_fotos}}
                            <div id="imagenesTusabes">
                                <p>Agregar especificacion:<a href="#" class="add_project_file"><img class="imga" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-128.png" border="0" /></a></p>
                                <div class="project_images">
                                    {{#each Producto.Especificacion}}
                                    <div class='row'>
                                        <div class="col s12 m12 l6"><input name="espe1_1" type="text" class="espe" value="{{caracteristica}}" /></div>
                                        <div class="col s12 m12 l4"><input name="espe2_1" type="text" class="espe" value="{{descripcion}}" /></div>
                                        <a href="#" class="remove_project_file" border="2"><img class="imga"src="http://findicons.com/files/icons/573/must_have/256/delete.png" /></a>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{else}}
                            </br>
                            <p> Para agregar especificaciones primero debe agregar imagenes del producto </p>
                            {{/if}}
                            </br>


                            <button id="actu" class="btn waves-effect waves-light" value="." type="submit">Actualizar</button>
                        </form>
                    </div>
                    <br/>






                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="parallax-container">
        <div class="parallax"><img src="https://images2.alphacoders.com/698/698137.jpg"></div>
    </div>




    <input type="text" value="{{numero_chido}}" id="numero_chido">
    <footer class="page-footer">

        <div class="footer-copyright">
            <div class="container">
                © 2017 ICMA by Oscar Martínez
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <script>
        $(document).ready(function () {
            function calculartotal(formid) {
                var sumaimportes = 0;
                var n = 1;
                var formulariop = document.getElementById(formid);
                for (var i = 0; i < formulariop.elements.length; i++) {
                    if (i >= 8) {
                        if (formulariop.elements[i].name == "espe1_1") {
                            formulariop.elements[i].name = `espe1_${n}`
                        }
                        if (formulariop.elements[i].name == "espe2_1") {
                            console.log(formulariop.elements[i].name);
                            formulariop.elements[i].name = `espe2_${n}`
                            n++;
                        }

                    }


                }

            }

            function Comprobar() {
                var formulariop = document.getElementById('addProductForm');
                var estado = true;
                var numero = 0;

                for (var i = 0; i < formulariop.elements.length; i++) {

                    if (formulariop.elements[i].value == "") {
                        numero++;

                        estado = false;
                    }
                }
                if (numero != 0) {
                    $('#modal1').modal('open');
                }
                return estado;
            }
            calculartotal("addProductForm");


            var contador = Number(document.getElementById('numero_chido').value);
            console.log(contador);


            $('.add_project_file').click(function (e) {
                e.preventDefault();
                contador++;

                $(".project_images").append("<div class='row'>"
                    + `<div class="col s12 m12 l6"><input name="espe1_${contador}" type="text" class="espe" /></div>`
                    + `<div class="col s12 m12 l4"><input name="espe2_${contador}" type="text" class="espe" /></div>`
                    + '<a href="#" class="remove_project_file" border="2"><img class="imga"src="http://findicons.com/files/icons/573/must_have/256/delete.png" /></a>'
                    + '</div>'
                );
            });

            // Remove parent of 'remove' link when link is clicked.
            $('.project_images').on('click', '.remove_project_file', function (e) {
                contador--;
                e.preventDefault();
                $(this).parent().remove();
            });


            $('.row #borrar').click(function (e) {
                e.preventDefault();
                var elento = $(this);
                var id = elento.parent().parent().find('#id_noticia').text();

                $.ajax({
                    url: '/api/GetProductos/' + id,
                    method: 'delete',
                    success: function (res) {
                        console.log(res);
                        console.log(res);
                        elento.parent().parent().remove();

                    }
                });
            })
            $('#test5').change(function () {
                if ($(this).is(":checked")) {
                    $('#imagenesIndex').remove();
                    $('#imagenesTusabes').remove();
                    $(".inner").append(" <input type='file'' id='file' class='file-path validate'' name='archivo_1'' accept='image/*'><br class='brs'/> <input type='file'' id='file' class='file-path validate'' name='archivo_2'' accept='image/*'><br class='brs'/> <input type='file'' id='file' class='file-path validate'' name='archivo_3'' accept='image/*'><br class='brs'/> <input type='file'' id='file' class='file-path validate'' name='archivo_4'' accept='image/*'><br class='brs'/><input type='file'' id='file' class='file-path validate'' name='archivo_5'' accept='image/*'>");
                } else {
                    $('.file-path').remove();
                    $('.brs').remove();


                }
            })
            $('#test6').change(function () {
                if ($(this).is(":checked")) {
                    $(".inner2").append(`<input type='text' id='file' class='file-path_video video validate' value="" name='video_1'><class="brsw"/br>
                                <input type='text' id='video_2' class='file-path_video video video validate' value="" name='video_2'>`);
                } else {
                    $('.file-path_video').remove();
                    $('.brsw').remove();
                }
            })

            $("#addProductForm").submit(function (event) {
                event.preventDefault();
                var elento = $(this);
                var id = $("#_id").val()
                var formData = new FormData($(this)[0]);
                console.log(formData);

                if (Comprobar()) {
                    $.ajax({
                        url: id,
                        type: 'PUT',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            $("#productFormOutput").html(returndata);
                            alert("Datos actualizados correctamente");
                            window.location.href = "/api/GetProductos/" + id;
                        },
                        error: function () {
                            alert("Hubo un problema al actualizar");
                        }
                    });
                    return false;

                } else {
                    return false;
                }


            });


            $(".button-collapse").sideNav();
            $('.parallax').parallax();

            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 100, // Transition in duration
                outDuration: 100, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function (modal, trigger) {
                    console.log(modal, trigger);
                },
                // Callback for Modal close
            }
            );

        });
    </script>
</body>

</html>